:root {
  --primary-white-color: #ffffff;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --main-font: 'Roboto', sans-serif;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-white-theme {
  color: #000000;
}

.logo-dark-theme {
  color: #ffffff;
}

.button {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms var(--cubic);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.sections-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .sections-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-win {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 320px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 40px;
  padding-bottom: 40px;
  transform: translate(-50%, -50%);
  transition: box-shadow 250ms var(--cubic);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: transparent;
  fill: #000000;
  transition: fill 250ms var(--cubic);
}

.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .modal-win {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-win {
    width: 528px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-form-field {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  fill: var(--primary-text-color);
  transition: fill 250ms var(--cubic);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-checkbox-label::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms var(--cubic), border-color 250ms var(--cubic);
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/modal-window/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-origin: border-box;
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before,
.modal-form-checkbox:hover + .modal-form-checkbox-label::before {
  border-color: var(--accent-color);
}

.modal-form-label-link {
  color: var(--accent-color);
}

.modal-form-btn {
  display: block;
  align-self: center;
}

@media screen and (min-width: 1200px) {
  .modal-title {
    display: inline;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
  }
  .modal-form-checkbox-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--dark-bg-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/bg-mobile.jpg");
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 280px), screen and (min-resolution: 192dpi) and (min-width: 280px), screen and (min-resolution: 2dppx) and (min-width: 280px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/bg-mobile@2x.jpg");
  }
}

.hero__title {
  display: block;
  max-width: 360px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (max-width: 386px) {
  .hero__title {
    font-size: 21px;
  }
}

@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/bg-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/bg-desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/bg-desktop@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 610px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.features {
  background-color: var(--primary-white-color);
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--light-bg-color);
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.features__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    border: none;
  }
  .features__item {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 0;
    flex-basis: calc((100% - 60px) / 2);
  }
  .features__item:not(:last-child) {
    margin-bottom: 0;
  }
  .features__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 47px;
  }
  .features__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.about {
  background-color: var(--primary-white-color);
  padding-top: 47px;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.about__item {
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.about__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.team {
  background-color: var(--light-bg-color);
}

.team__item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__meta {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.team__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__description {
  margin-top: 10px;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team__social-link {
  background-color: transparent;
  fill: #afb1b8;
  transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
}

.team__social-link:hover, .team__social-link:focus {
  fill: #ffffff;
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    border: none;
  }
  .team__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
  .team__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.loyal-clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.loyal-clients-list-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 60px) / 2);
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms var(--cubic), border 250ms var(--cubic);
}

.loyal-clients-list-item:hover, .loyal-clients-list-item:focus {
  color: var(--accent-color);
  border: 1px solid #2196f3;
}

.loyal-clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  fill: #afb1b8;
  transition: fill 250ms var(--cubic);
}

.loyal-clients-list-link:hover, .loyal-clients-list-link:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .loyal-clients-list-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .loyal-clients-list-item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.footer {
  background-color: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  text-align: center;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-address-section {
  font-style: normal;
  margin-bottom: 60px;
}

.footer-address-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-address-post {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transition: color 250ms var(--cubic);
}

.footer-address-post:hover, .footer-address-post:focus {
  color: var(--accent-color);
}

.footer-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--cubic);
}

.footer-address-link:hover, .footer-address-link:focus {
  color: var(--accent-color);
}

.footer-social-list-wrapper {
  width: 206px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer__social-list {
  justify-content: space-between;
}

.footer-social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background-color 250ms var(--cubic);
}

.footer-social-list-link:hover, .footer-social-list-link:focus {
  background-color: var(--accent-color);
}

.footer-subscribe-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: transparent;
  transition: border-color 250ms var(--cubic);
}

.footer-subscribe-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.footer__send-icon {
  fill: #ffffff;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  .footer-social-list-wrapper {
    margin: 0;
  }
  .footer-subscribe-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .footer-logo {
    text-align: left;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
  .footer-title {
    text-align: left;
  }
  .footer-address-section {
    text-align: left;
    margin-bottom: 0;
  }
  .footer-address-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer-social-list-wrapper {
    margin-left: 70px;
  }
  .footer-subscribe-form-wrapper {
    margin-left: 93px;
  }
  .subscribe-form {
    display: flex;
  }
  .footer-subscribe-input {
    width: 370px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.portfolio-filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.portfolio-filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter-item:nth-child(-n + 3) {
  margin-bottom: 15px;
}

.portfolio-filter-button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--light-bg-color);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.portfolio-filter-button:hover, .portfolio-filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .portfolio-filter-list {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-filter-list {
    margin-bottom: 50px;
  }
}

.portfolio-section {
  background-color: var(--primary-white-color);
}

.portfolio-works-item:not(:last-child) {
  margin-bottom: 30px;
}

.portfolio-works-link {
  display: block;
  transition: box-shadow 250ms var(--cubic);
}

.portfolio-works-link:hover, .portfolio-works-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-works-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-works-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 77px;
  padding-right: 24px;
  padding-bottom: 77px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.portfolio-works-link:hover .portfolio-works-overlay,
.portfolio-works-link:focus .portfolio-works-overlay {
  transform: translateY(0%);
}

.works-info {
  padding: 20px 24px;
  background: var(--primary-white-color);
  border: 1px solid #eeeeee;
}

.portfolio-works-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-works-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .portfolio-works-overlay {
    padding-top: 49px;
    padding-bottom: 49px;
  }
  .portfolio-works-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .portfolio-works-item {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
  .portfolio-works-link {
    display: flex;
    flex-direction: column;
  }
  .portfolio-works-item:not(:last-child) {
    margin-bottom: 0;
  }
  .works-info {
    flex-grow: 1;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-works-overlay {
    padding-top: 63px;
    padding-bottom: 63px;
  }
  .portfolio-works-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
/*# sourceMappingURL=main.css.map */